{% extends '_base.html' %}

{% block content %}

<h2>{{ date }}</h2>

<div class="row">
    <div class="col-md-6 secretary">
        <h3>Press Secretary</h3>
        <ol>
            {% for word in briefing.secretary.words %}
            {% for key, value in word.iteritems() %}
            <li>{{ key }} = {{ value }}</li>
            {% endfor %}
            {% endfor %}
        </ol>
    </div>
    <div class="col-md-6 reporter">
        <h3>Reporter questions</h3>
        <ol>
            {% for word in briefing.reporters.words %}
            {% for key, value in word.iteritems() %}
            <li>{{ key }} = {{ value }}</li>
            {% endfor %}
            {% endfor %}
        </ol>
    </div>
{% endblock %}