{% extends '_base.html' %}

{% block content %}

<table class="table table-striped sortable">
    <thead>
        <th>Date</th>
        <th>Secretary</th>
        <th>Reporter</th>
        <th>Diff</th>
    </thead>
    <tbody>
        {% for date in data|sort %}
        <tr>
            <td>{{ date }}</td>
            <td>{{ data[date].secretary }}</td>
            <td>{{ data[date].reporter }}</td>
            <td>{{ data[date].secretary - data[date].reporter }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}